@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido "LA PIRAÑA"</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ex consequatur doloribus accusantium iste eaque. Libero architecto modi nostrum, temporibus, vitae dignissimos deleniti ab officiis dolorem, explicabo similique soluta dolorum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ex consequatur doloribus accusantium iste eaque. Libero architecto modi nostrum, temporibus, vitae dignissimos deleniti ab officiis dolorem, explicabo similique soluta dolorum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ex consequatur doloribus accusantium iste eaque. Libero architecto modi nostrum, temporibus, vitae dignissimos deleniti ab officiis dolorem, explicabo similique soluta dolorum?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ex consequatur doloribus accusantium iste eaque. Libero architecto modi nostrum, temporibus, vitae dignissimos deleniti ab officiis dolorem, explicabo similique soluta dolorum?</p>
</div>
