@{
    ViewData["Title"] = "Productos y Servicios";
}

<h1 align="center">@ViewData["Title"]</h1>
<br>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nostrum accusantium non quas dignissimos quos culpa, sint sed et perferendis cumque quis? Blanditiis consectetur quia quas aspernatur. Neque, rerum recusandae.</p>
